[submodule "rem-vscode"]
	path = rem-vscode
	url = https://github.com/RuleBrittonica/rem-vscode.git
[submodule "rem-matt/rem-utils"]
	path = rem-matt/rem-utils
	url = https://github.com/RuleBrittonica/rem-utils.git
[submodule "rem-matt/rem-borrower"]
	path = rem-matt/rem-borrower
	url = https://github.com/RuleBrittonica/rem-borrower.git
