[submodule "rem/rem-borrower"]
	path = rem/rem-borrower
	url = https://github.com/RuleBrittonica/rem-borrower.git
[submodule "rem/rem-cli"]
	path = rem/rem-cli
	url = https://github.com/RuleBrittonica/rem-cli.git
[submodule "rem/rem-constraint"]
	path = rem/rem-constraint
	url = https://github.com/RuleBrittonica/rem-constraint.git
[submodule "rem/rem-controller"]
	path = rem/rem-controller
	url = https://github.com/RuleBrittonica/rem-controller.git
[submodule "rem/rem-extract"]
	path = rem/rem-extract
	url = https://github.com/RuleBrittonica/rem-extract.git
[submodule "rem/rem-repairer"]
	path = rem/rem-repairer
	url = https://github.com/RuleBrittonica/rem-repairer.git
[submodule "rem/rem-testfiles"]
	path = rem/rem-testfiles
	url = https://github.com/RuleBrittonica/rem-testfiles.git
[submodule "rem/rem-utils"]
	path = rem/rem-utils
	url = https://github.com/RuleBrittonica/rem-utils.git
[submodule "rem/rem-vscode"]
	path = rem/rem-vscode
	url = https://github.com/RuleBrittonica/rem-vscode.git
[submodule "experiments/rust-lsp-test"]
	path = experiments/rust-lsp-test
	url = https://github.com/RuleBrittonica/rust-lsp-test
